# Local development
DATABASE_URL=

# Production
DATABASE_URL_PROD=

REVALIDATION_TOKEN=

NEXT_PUBLIC_BASE_URL=

NEXT_PUBLIC_GA_MEASUREMENT_ID=

BREVO_API_KEY=

NEWSLETTER_API_KEY=
NEWSLETTER_SECRET_KEY=
ALLOWED_IPS=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=A
CRON_SECRET=
